.fullscreen-photo__button_type_next {
    background-image: url(../../../../icons/arrow-right.svg);
    height: 80px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.fullscreen-photo__button_type_next:hover {
    transform: translateX(10px);
}

@media screen and (max-width: 820px) {
    .fullscreen-photo__button_type_next {
      width: 30px;
      height: 30px;
    }

    .fullscreen-photo__button_type_next:hover {
        transform: translateX(2px);
    }
  }

