.photo-gallery__item_type_ultra-panoramic {
    grid-column-start: initial;
    grid-column-end: span 3;
    width: 100%;
}
  
.photo-gallery__item_type_ultra-panoramic:hover {
    transform: scale(1.03);
}