@keyframes move-v1 {
    from {
      transform: translate(60px, 0px);
    }
  
    to {
      transform: translate(0px, 300px);
    }
}
.background-form_variant_2 {
    
    animation: 12s infinite alternate ease-in-out move-v1;
}