@keyframes move-v4 {
    from {
      transform: translate(300px, 300px);
    }
  
    to {
      transform: translate(254px, 12px);
    }
}
.background-form_variant_4 {
    
    animation: 15s infinite alternate ease-in-out move-v4;
}