@keyframes move-v3 {
    from {
      transform: translate(9.4vw, 0);
    }
  
    to {
      transform: translate(11.5vw, 1.6vw);
    }
}
.background-form_variant_3 {
    
    animation: 6s infinite alternate ease-in-out move-v3;
}