.footer-item__icon {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 50px;
    transition: 0.1s ease-in-out;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

@media screen and (max-width: 820px)
{
  .footer-item__icon {
    margin-top: 2px;
    width: 25px;
  }
}