@keyframes move-c1 {
    from {
      transform: translate(3.9vw, 9.4vw);
    }
  
    to {
      transform: translate(7.8vw, 23.4vw);
    }
}
  


.background-form_type_circle-1 {
    background-image: url(../../../background-forms/background-circle-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: 15s infinite alternate ease-in-out move-c1;
}