@keyframes move-c2 {
    0% {
        transform: translate(23.4vw, 11.7vw);
    }
  
    100% {
      transform: translate(3.1vw, 9.4vw);
    }
}
  


.background-form_type_circle-2 {
    background-image: url(../../../background-forms/background-circle-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: 16s infinite alternate ease-in-out move-c2;
}