@keyframes move-c1 {
    from {
      transform: translate(50px, 120px);
    }
  
    to {
      transform: translate(100px, 300px);
    }
}
  


.background-form_type_circle-1 {
    background-image: url(../../../icons/background-circle-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: 8s infinite alternate ease-in-out move-c1;
}