@keyframes move-c4 {
    from {
      transform: translate(50px, 200px);
    }
  
    to {
      transform: translate(0, 300px);
    }
}
  


.background-form_type_circle-4 {
    background-image: url(../../../icons/background-circle-4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: 3s infinite alternate ease-in-out move-c4;
}