@keyframes move-c3 {
    from {
      transform: translate(0, 0);
    }
  
    to {
      transform: translate(11.7vw, 15.6vw);
    }
}
  


.background-form_type_circle-3 {
    background-image: url(../../../background-forms/background-circle-3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: 20s infinite alternate ease-in-out move-c3;
}