@keyframes move-c6 {
    from {
      transform: translate(300px, 0);
    }
  
    to {
      transform: translate(0, 300px);
    }
}
  


.background-form_type_circle-6 {
    background-image: url(../../../icons/background-circle-6.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: 5s infinite alternate ease-in-out move-c6;
}