@keyframes move-c2 {
    0% {
        transform: translate(300px, 150px);
    }
  
    100% {
      transform: translate(40px, 120px);
    }
}
  


.background-form_type_circle-2 {
    background-image: url(../../../icons/background-circle-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: 8s infinite alternate ease-in-out move-c2;
}