.top-menu__item {
    margin-left: 10px;
}

.top-menu__item:hover .top-menu__link-text {
    width: 120px;
}



@media screen and (max-width: 820px)
{
  .top-menu__item:hover .top-menu__link-text {
    width: auto;
  }

  .top-menu__item {
    transition: 0.2s ease-in-out;
  }

  .top-menu__item:hover
  {
    opacity: 0.7;
  }
}