.fullscreen-photo__button {
    margin: 0;
    color: black;
    transition: 0.2s ease-in-out;
    opacity: 0.6;
    cursor: pointer;
}
  
.fullscreen-photo__button:focus {
  outline: 0;
}

.fullscreen-photo__button:hover {
    opacity: 0.9;
}

