.fullscreen-photo__button {
    margin: 0;
    color: black;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
    line-height: 20px;
    font-size: 40px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    opacity: 0.3;
}
  
.fullscreen-photo__button:focus {
  outline: 0;
}

.fullscreen-photo__button:hover {
    opacity: 0.8;
}